*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;

}

body {
	min-height: 100vh;
}
/*OUR STORY*/

.parallax1{
	background-image: url(../images/2.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;  
}

.ourstory{
	padding: 0% 0 0 0;
	background-position: center;
	height:100vh;
	position: center;
	background-size: auto auto;
	background-repeat: no-repeat;
	z-index:-1;
}

.mad-story{
	text-align: left;
	font-size: 26px;
	right: 250px;
	width: 500px;
	height: 750px;
	border: 3px;
	position: absolute;
	top: 20%;
	justify-content: center;
}

.mad-story p{
	font-size: 15px;
	line-height: 1.6;
}

.navbar{
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	position: fixed;
	width: 100%;
	height: 35px;
	opacity: .9;
}


.navbar a{
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;

}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.navlogo{
	z-index:99;
	top:20%;
	left:0.5%;
	position: absolute;
}

.story2{
	background-image: url(../images/3.jpg);
	min-height: 550px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;  
}

.credo {
	top: 150px;
	left: 500px;
	color: whitesmoke;
	text-align: center;
	font-size: 26px;
	width: 400px;
	position: relative;
	justify-content: center;
}

.credo p {
	font-size: 15px;
	line-height: 1.6;
}

.parallax2{
	background-image: url(../images/map-2.png);
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 450px;  
}

.heritage{
	padding: 50px;
	text-align: left;
	font-size: 20px;
	left: 30px;
	width: 450px;
	border: 3px;
	top: 50px;
	justify-content: center;
	position: sticky;
}

.heritage p{
	font-size: 15px;
	line-height: 1.6;
}

.container-menu {
	background-image: url(../images/menu.jpg);
	background-attachment: fixed;  	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container-menu h1 {
	text-align: center;
  font-size: 37px;
  color: whitesmoke;
}
.container-menu h3 {
  color: white;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.container-menu p {
  font-size: 20px;
  color: whitesmoke;
}

.menurow{
	position: relative;
	text-align: center;
	justify-content: center;
	/*background-color: black;*/
}
.menurow1{
	position: relative;
	text-align: center;
	justify-content: center;
	background-color: black;
}

.menurow2{
	position: relative;
	text-align: center;
	justify-content: center;
	/*background-color: black;*/
}
.menurow3{
	position: relative;
	text-align: center;
	justify-content: center;
	background-color: black;
}

.gheading{
	color: whitesmoke;
	font-size: 30px;
	font-weight: bold;

}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 10rem;

	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image img{
	width: 200px;
	height: 200px;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

.footer {
  display: table;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer__half {
    width: 40%;
    display: table-cell;
    padding: 100px;
}

.footer__half-1 {
    background-image: url(../images/footer.jpg);
    width: 100%
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.footer__half-2 {
    background-color: black;
    position: relative;
    left: 400px;
    bottom: 250px;
    object-position: center;
}

.footer__big-title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
}

.footer__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: #daa37f;
}

.footer__desc {
    color: #d7d7d7;
    margin-bottom: 25px;
}


/*RESPONSIVENESS*/

/*tablet view*/
@media only screen and (max-width: 780px){
	.mad-story{
		position: relative;
		left: 50px;
	}

	.story2{
		position: relative;
		width: 100%;
	}

	.credo{
		position: relative;
		padding-right: 100px;
		text-align: left;
		left: 320px;
	}

	.footer__half-2{
		position: relative;
		left: 150px;
	}
}

/*Mobile view*/

@media only screen and (max-width:380px;){

	.parallax1{
		position: relative;
		width: 115vh;

	}

	.story2{
		position: relative;
		width: 115vh;
	}

	.parallax2{
		position: relative;
		width: 115vh;
	}

	.container-menu{
		position: relative;
		width: 115vh;
	}

	.gallery{
		position: relative;
		width:115vh;
	}

	.contact-us{
		position: relative;
		width:115vh;
	}

}