*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*overflow-y: hidden;*/

}

/*HOME PAGE*/

body{
	width: 100%;
	height: 100vh;
	background-image: url(../images/1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo{
	position: relative;
	top: 150px;
	/*padding-top: 15%;*/
	width: 20%;
	padding-bottom: 50px;
}

.home{
	text-align: center;
}

.homebtn{
	position: relative;
	top: 120px;
	padding: 10px;
	width: 150px;
	height: 40px;
	border: #fff solid 1px;
	text-align: center;
	color: #fff;
	margin: 1% 1% 20% 1%;
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.homebtn:hover a, .homebtn:hover {
	background-color: #ffffff;
	color:#000000;
	font-weight: 300;
}

footer {
	color: whitesmoke;
	text-align: center; 
	position: relative;
	background-color: none;
	height: 50px;
	z-index: 500;
}

footer p{
	text-align: center;
	position: relative;
	top: 90px;
}

footer > p > a:link, a:visited, a:hover, a:active{
	color: whitesmoke;
	text-decoration: none;
}
